---
permalink: 'README.md'
---
[![Banner](./assets/banner.png)](https://webstackbuilders.com)

{% include 'headline.njk' %}

{% include 'detail.njk' %}

## Tech Stack

{% include 'skills.njk' %}

## Work Experience

{% include 'experience.njk' %}

See [here]({{ user.resumeLink }}) for my detailed resume.

## Projects and Dev Stuff
<details>
  <br>
  <summary><b>🛠️ My Favorite Tools</b></summary>
  <br>
  {% include 'tools.njk' %}
</details>
<details>
  <br>
  <summary><b>💻 Open Source Projects</b></summary>
  <br>
  {% include 'projects.njk' %}
</details>
<details>
  <br>
  <summary><b>⚙️ Work Environment</b></summary>
  <br>
  {% include 'workstation.njk' %}
</details>
<details>
  <br>
  <summary><b>🔒 PGP Public Key</b></summary>
  <br>
  {% include 'pgp.njk' %}
</details>