<table>
  {%- for experienceItem in collections.experienceSection -%}
  <tr>
    <td>
      <p align="top">
        <img src="./assets/employer/{{ experienceItem.data.employerLogo }}" alt="employer logo">
      </p>
    </td>
    <td>
      <b>{{ experienceItem.data.jobTitle }}</b><br>
      {{ experienceItem.data.employerName }}<br>
      {{ experienceItem.data.employmentType }} • {{ experienceItem.data.employmentSite }}<br>
      {{ experienceItem.content | safe }}
    </td>
  </tr>
  {%- endfor -%}
</table>