<table>
  {%- for experienceItem in collections.experienceSection -%}
  <tr>
    <td style="vertical-align: top;">
      <img src="./assets/employer/{{ experienceItem.data.employerLogo }}" alt="employer logo">
    </td>
    <td>
      <b>{{ experienceItem.data.jobTitle }}</b><br>
      {{ experienceItem.data.employerName }} • {{ experienceItem.data.employmentType }}<br>
      {{ experienceItem.content | safe }}
    </td>
  </tr>
  {%- endfor -%}
</table>