<b>👨‍💻 Programming and Markup Languages</b>

  {%- for languageCollection in collections.languageCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ languageCollection.term }}">
    <img src="./assets/badges/{{ languageCollection.name | normalizeFilename }}.svg" alt="{{ languageCollection.term }}">
  </a>
  {%- endfor -%}

<b>🧰 Frameworks and Libraries</b>

  {%- for frameworksCollection in collections.frameworksCollection -%}
  <img src="./assets/badges/{{ frameworksCollection.name | normalizeFilename }}.svg" alt="{{ frameworksCollection.term }}">
  {%- endfor -%}

<b>☁️ Cloud Hosting</b>

  {%- for cloudCollection in collections.cloudCollection -%}
  <img src="./assets/badges/{{ cloudCollection.name | normalizeFilename }}.svg" alt="{{ cloudCollection.term }}">
  {%- endfor -%}

<b>🗄️ Databases</b>

  {%- for databasesCollection in collections.databasesCollection -%}
  <img src="./assets/badges/{{ databasesCollection.name | normalizeFilename }}.svg" alt="{{ databasesCollection.term }}">
  {%- endfor -%}

<b>💻 Software and Tools</b>

  {%- for toolsCollection in collections.toolsCollection -%}
  <img src="./assets/badges/{{ toolsCollection.name | normalizeFilename }}.svg" alt="{{ toolsCollection.term }}">
  {%- endfor -%}