### 👨‍💻 Programming and Markup Languages

  {%- for languageCollection in collections.languageCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ languageCollection.term }}">
    ![{{ languageCollection.term }}](./assets/badges/{{ languageCollection.name | normalizeFilename }}.svg)
  </a>
  {%- endfor -%}

### 🧰 Frameworks and Libraries

  {%- for frameworksCollection in collections.frameworksCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ frameworksCollection.term }}">
    ![{{ frameworksCollection.term }}](./assets/badges/{{ frameworksCollection.name | normalizeFilename }}.svg)
  </a>
  {%- endfor -%}

### ☁️ Cloud Hosting

  {%- for cloudCollection in collections.cloudCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ cloudCollection.term }}">
    ![{{ cloudCollection.term }}](./assets/badges/{{ cloudCollection.name | normalizeFilename }}.svg)
  </a>
  {%- endfor -%}

### 🗄️ Databases

  {%- for databasesCollection in collections.databasesCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ databasesCollection.term }}">
    ![{{ databasesCollection.term }}](./assets/badges/{{ databasesCollection.name | normalizeFilename }}.svg)
  </a>
  {%- endfor -%}

### 💻 Software and Tools

  {%- for toolsCollection in collections.toolsCollection -%}
  <a href="https://github.com/search?q=user%3A{{ user.githubUsername }}+language%3A{{ toolsCollection.term }}">
    ![{{ toolsCollection.term }}](./assets/badges/{{ toolsCollection.name | normalizeFilename }}.svg)
  </a>
  {%- endfor -%}