<ul>
  <li><b>OS:</b> {{ workstation.os }}</li>
  <li><b>Workstation:</b> {{ workstation.workstation }}</li>
  <li><b>Desktop:</b> {{ workstation.desktop }}</li>
  <li><b>Channels:</b> {{ workstation.comms }}</li>
  <li><b>Code Editor:</b> {{ workstation.codeEditor }}</li>
  <li><b>Opinions:</b> {{ workstation.opinions }}</li>
</ul>